<h1>About Jen's Bloccit</h1>
<p>Created by: Jennifer P.</p>

<p> Hello! Thank you for visiting this page. If you would like to see the Github for this, plese visit Github below. If you would like to connect through Facebook, also feel free to add me :)</p>

<%= link_to "Github", "https://github.com/JenPalacios/bloccit", class: "btn btn-info" %>

<%= link_to "Facebook", "http://www.facebook.com/palacios.jennifer", class: "btn btn-primary" %>